NODE_ENV=development
PORT=5000

# MongoDB
MONGO_URI=mongodb+srv://user123:mongodb1234@cluster0.vkrc1bu.mongodb.net/cric_league

# JWT
JWT_ACCESS_SECRET=NaeemAkhter@2028
JWT_REFRESH_SECRET=NaeemAkhter@2028
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# CORS
CLIENT_URL=http://localhost:3000
